@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

body {
    background-image: linear-gradient(#134e5e, #24c6dc,#134e5e, #24c6dc,#000000);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
}

/* swiper style */

.img-box img {
    max-width: 100%;
}

.slider-container1 .container1 {
    padding: 0 10px;
    max-width: 500px;
    height: 25%;
    margin: 0 auto;
}

.slider-container .container {
    /* padding: 0 10px; */
    width: 100%;
    height: 50%;
    margin: 0 auto;
}

.review-container .rev-container {
    padding: 0 15px;
    max-width: 250px;
    height: 50%;
    margin: 0 auto;
}

.product-slider {
    padding: 50px 0;
}

#logo-name {
    font-family: 'Young Serif', serif;
    font-weight: 800;
}